body{
  color: rgb(0, 10, 15);
  background-color:unset
  }
  
   #title{
     font-size: 50px;} 
    h2,
    h3 {
      padding-top: 10px;
      font-weight: 600;
    }
    
    h4 {
      font-weight: 600;
    }
    
    .container {
      max-width: 1300px;
    }
    
    .bg-primary,
    .input-group {
      margin-bottom: 10px;
    }
    
    .btn-group-vertical {
      width: 100%;
      display: inline-block;
    }
    
    .btn-light {
      text-align: left;
    }
    
    .card-body {
      padding: 0.75rem;
      padding-bottom: 0;
      background-color: rgb(29, 27, 36);
    }
    
    #currentWeather {
      border-radius: 0.3rem;
      margin: 15px 0 15px 0;
      padding: 15px;
    }
    
    #previousSearch {
      margin-bottom: 15px;
      max-height: 408px;
      overflow: auto;
    }
    
    @media (max-width: 768px) {
      #previousSearch {
        max-height: 152px;
      }
    }